config olsrd
	# uncomment the following line to use a custom config file instead:
	#option config_file '/etc/olsrd.conf'

	option IpVersion '4'
	option Pollrate	'0.001'

config LoadPlugin
	option library 'olsrd_arprefresh.so.0.1'

#config LoadPlugin
#	option library 'olsrd_dyn_gw.so.0.4'

config LoadPlugin
	option library 'olsrd_httpinfo.so.0.1'
	option port '1978'
	list Net '0.0.0.0 0.0.0.0'

#config LoadPlugin
#	option library 'olsrd_nameservice.so.0.3'

config LoadPlugin
	option library 'olsrd_txtinfo.so.0.2'
	option accept ''

#config LoadPlugin
#        option library 'olsrd_mdns.so.1.0.0'
#        option "NonOlsrIf"  "eth0"

config LoadPlugin
        option library 'olsrd_obamp.so.1.0.0'
        option "NonOlsrIf"  "eth0"


config Interface
	list interface 'ninuxif'

config 'Hna4'
        option 'netaddr' '192.168.1.0'
        option 'netmask' '255.255.255.0'

#config 'Hna6'
#       option 'netaddr' '2002::'
#       option 'prefix' '64'

